{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Create an account{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{# Use theme for form #}
{% form_theme form 'form/bootstrap_material.html.twig' %}

{# Render content #}
{% block content %}

{# Breadcrumbs #}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">New account</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        {{ wo_render_breadcrumbs() }}
    </div>
</div>

<div class="container">
    <div class="white-box">
        {{ form_start(form, {'attr': {'class': 'form-horizontal form-material new-lg-form'}}) }}
        {{ form_errors(form, {'attr': {'class': 'alert alert-danger fade in'}}) }}

        {#{{ form_row(form) }}#}
        {{ form_row(form.name) }}
        {{ form_row(form.type, {'attr': {'class': 'selectpicker'}}) }}

        {{ form_widget(form.submit, {'label' : 'Add account'}) }}

        {{ form_end(form) }}
    </div>
</div>

{% endblock %}
