<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="description" content="">
	    <meta name="author" content="">
		<link rel="icon" type="image/png" sizes="16x16" href="/build/assets/images/favicon.ico">
        
        <title>{% block title %}Costs{% endblock %}</title>
        
        {% block stylesheets %}
        	<link rel="stylesheet" href="{{ asset('/build/app.css') }}">
        	<link rel="stylesheet" href="{{ asset('/build/selectpicker.css') }}">
        	<link rel="stylesheet" href="{{ asset('/build/sweetalerts.css') }}">
        {% endblock %}
    </head>
    <body class="fix-header">
		{# Preloader #}
		<div class="preloader">
		    <svg class="circular" viewBox="25 25 50 50">
		        <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
		    </svg>
		</div>

		<div id="wrapper">

			{# Top bar and menu #}
			{% include '_nav_bar.html.twig' %}
			{% include '_left_bar.html.twig' %}

			{# Content #}
		    <div id="page-wrapper">
		        <div class="container-fluid">

					<div id="app">
                        {% block content %}{% endblock %}
					</div>

		        </div>

				{# Footer #}
                {% include '_footer.html.twig' %}

		    </div>
		</div>

        {% block javascripts %}
            <script src="{{ asset('/build/app.js') }}"></script>
            <script src="{{ asset('/build/selectpicker.js') }}"></script>
            <script src="{{ asset('/build/sweetalerts.js') }}"></script>
			<script src="{{ asset('/build/js/vue.js') }}"></script>
        {% endblock %}
    </body>
</html>
