{% extends "base.html.twig" %}

{% block title %}{{ parent() }}Account types{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{# Render content #}
{% block content %}

{# Breadcrumbs #}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Account types</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        {{ wo_render_breadcrumbs() }}
    </div>
</div>

    <div class="white_bg">
        <div class="table-responsive">
            <table class="table table_default table_default_scenarios">
                <thead>
                <tr>
                    <th colspan="2">
                        <div class="first_element">
                            Name
                        </div>
                    </th>
                </tr>
                </thead>


                <tbody class="ajax-container">

                    {% block table_rows %}

                        {% for type in accountTypes %}
                            <tr>
                                <td>
                                    <span class="list_title">
                                        {{ type.name }}
                                    </span>
                                </td>

                                <td class="text-right vam w_100">
                                    {% if type.user is not null %}
                                        <a href="#"
                                           data-href="{{ path('account_type_delete', {'id': type.id}) }}"
                                           data-name="{{ type.name }}"
                                           class="delete-btn icon_block last edit_scen btn_action btn_delete"
                                        >
                                            <span>Delete</span>
                                        </a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                    {% endblock table_rows %}

                </tbody>


            </table>
        </div>

        <a href="{{ path('account_type_new') }}" class="button_table button_table_scenarios">
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 20 20"
                    width="20px" height="20px">
                <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                      d="M9.998,0.000 C4.469,0.000 -0.013,4.477 -0.013,9.998 C-0.013,15.520 4.469,19.997 9.998,19.997 C15.527,19.997 20.009,15.520 20.009,9.998 C20.009,4.477 15.527,0.000 9.998,0.000 ZM9.998,17.997 C5.582,17.997 1.989,14.409 1.989,9.998 C1.989,5.588 5.582,2.000 9.998,2.000 C14.414,2.000 18.007,5.588 18.007,9.998 C18.007,14.409 14.414,17.997 9.998,17.997 ZM10.999,8.999 L14.002,8.999 L14.002,10.998 L10.999,10.998 L10.999,13.998 L8.997,13.998 L8.997,10.998 L5.994,10.998 L5.994,8.999 L8.997,8.999 L8.997,5.999 L10.999,5.999 L10.999,8.999 Z"/>
            </svg>
            <span>New type</span>
        </a>
    </div>

{% endblock %}
