{% extends "base.html.twig" %}

{% block title %}{{ parent() }} - Transactions{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{# Render content #}
{% block content %}

{# Breadcrumbs #}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <h4 class="page-title">Transactions</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
        {{ wo_render_breadcrumbs() }}
    </div>
</div>

<div class="row">

    <div class="col-xs-12 call_filter">

        <div class="call_filter_box call_filter_box-3">
            <div class="checkbox">

            </div>
            <div class="checkbox">

            </div>
        </div>

        <div class="call_filter_box call_filter_box-2">

        </div>

        <div class="call_filter_box call_filter_box-4">

            <div class="time_content">
                <div class="time_text">
                </div>

            </div>

        </div>

    </div>

    {% block transactions %}

    <div class="col-xs-12 ajax-container">
        <div class="panel">
            <div class="table-responsive">
                <table class="table transactions-table">
                    <thead>
                        <tr>
                            <th style="width: 75px;" class="text-center">Type</th>
                            <th style="width: 125px;" class="text-center">Date</th>
                            <th style="width: 200px;">Account</th>
                            <th style="width: 125px;">Sum</th>
                            <th>Comment</th>
                            <th style="width: 150px;">Actions</th>
                        </tr>
                        <tr>
                            <td class="text-center" colspan="12">
                                {% if transactions.getItemNumberPerPage * transactions.getCurrentPageNumber <= transactions.getTotalItemCount  %}
                                    Showed <span id="already-displayed-quantity">
                                        {{
                                            (transactions.getItemNumberPerPage * (transactions.getCurrentPageNumber - 1)) + 1
                                        }}-{{
                                            transactions.getItemNumberPerPage * transactions.getCurrentPageNumber
                                        }}
                                    </span>
                                    from <span id="all-calls-quantity">{{ transactions.getTotalItemCount }}</span>
                                {% elseif transactions.getTotalItemCount != 0 %}
                                    Showed <span id="already-displayed-quantity">1-{{ transactions.getTotalItemCount }}</span>
                                        from <span id="all-calls-quantity">{{ transactions.getTotalItemCount }}</span>
                                {% else %}
                                    No transactions yet
                                {% endif %}
                            </td>
                        </tr>
                    </thead>
                    <tbody id="call-history-container" class="ajax-container">

                            {% for transaction in transactions %}
                                <tr>
                                    <td class="text-center">
                                        <div class="transaction-svg-wrapp">
                                            {% if transaction.type == 'cost' %}
                                                <img
                                                        src="/build/assets/images/payments/cost.svg"
                                                        height="45px"
                                                        width="50px"
                                                />
                                            {% elseif transaction.type == 'income' %}
                                                <img
                                                        src="/build/assets/images/payments/income.svg"
                                                        height="45px"
                                                        width="50px"
                                                />
                                            {% endif %}
                                        </div>
                                    </td>
                                    <td class="text-center">
                                        <div class="text-bold">
                                            {{ transaction.date | date('d M') }}
                                        </div>
                                        <div class="subtitle">
                                            {{ transaction.date | date('Y') }}
                                        </div>
                                    </td>
                                    <td>{{ transaction.account }}</td>
                                    <td>
                                        <div class="text-bold {% if transaction.type.code == 'in' %}text-success{% else %}text-danger{% endif %}">
                                            {{ transaction.sum }}
                                        </div>
                                        <div class="subtitle">
                                            {{ transaction.accountBalance }}
                                        </div>
                                    </td>
                                    <td>{{ transaction.comment }}</td>
                                    <td>
                                        <a href="">
                                            <img
                                                    src="/build/assets/images/actions/edit.svg"
                                                    height="30px"
                                                    width="30px"
                                            />
                                            <a href="#"
                                               data-pjax="0"
                                               data-href="{{ path('transaction_delete', {'id': transaction.id, 'page': transactions.currentPageNumber}) }}"
                                               data-name="{{ transaction.id }}"
                                               class="delete-btn icon_block last btn_action btn_delete"
                                            >
                                                <img
                                                        src="/build/assets/images/actions/delete.svg"
                                                        height="30px"
                                                        width="30px"
                                                />
                                            </a>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}

                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(transactions) }}
                </div>

            </div>
        </div>
    </div>

    {% endblock transactions %}

</div>




<!--AJAX loading by click-->
{#<div class="col-md-12 text-center">#}
    {#<button id="load-more-btn" type="button" class="btn button_default button_blue load-more" style="color: #fff;" data-parts="" data-count="">#}
        {#Show more#}
    {#</button>#}
{#</div>#}

{% endblock %}
